body{
    padding:0;
    margin: 0;
}

a{
    color:black;
    text-decoration: none;
}

.menu{
    background-color:#3d3d3d;
    position: relative;
    height: 65px;
    width: 100%;
}
.containerw{
    position: absolute;
    width: 74.5%;
    height: 90%;
    top: %;
    left: 25.3%;
    translate: (-50%,-50%);
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #ffffff;
    padding: 30px;
    margin: 0;
    scroll-snap-type: unset;
}
.containerw::after{
    top:3px;
    left: 3px;
    right: 3px;
    bottom: -320px;
    position: absolute;

}
header{
    text-align: center;
    padding: 15px;
    font-size:28px;
    color: #897C80;
}
.sub{
    font-size:28px;
}
.li{
    list-style: none;
    margin: 5px;
    display:inline-block;
    width: 200px;
    height: 150px;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    transition: 0.2s;
}
.bar{
    position: relative;
    width: 100%;
    padding: 10px;
    background: #3d3dd3;
    box-shadow: 0px 0px 10px 3px rgb(104, 104, 104);
}

.li:hover{
    box-shadow: 6px 6px 5px -5px #000;
    transform: scale(1.05);

}

.p9{
    margin-top: 0px;
    font-size: 26px;
    padding: 2px;
    color:white ;
    background-color: #131A5E;
}
.p10{
    margin-top: 0px;
    font-size: 26px;
    padding: 2px;
    color:white ;
    background-color: #131A5E;
}

.p11{
    margin-top: 0px;
    font-size: 26px;
    padding: 2px;
    color: white;
    background-color: #131A5E;
}