@media only screen and (max-width: 350px) {
        .user-info{
            padding: 0 15%;
            background: ;
        }
        .user-info img{
            width: 130px;
        }
        .btn-sml{
            font-size: 14px;
        }
        .m-text-lg{
            font-size: 32px;
        }
        .m-text-md{
            font-size: 24px;
        }
        .m-text-sm{
            font-size: 12px;
        }
        .login-page .box .form-body input{
            position: relative;
            width: 80%;
            margin-bottom: 10px;
            left: 50%;
            transform: translateX(-50%);

        }
        .pad-zero{
            padding:0;
        }
        .m-input-md{
            width: 60%;
        }
        .m-input-sm{
            width: 40%;
        }
        .m-center{
           align-content: center;
        }
        .login-page .box .form-footer button{
            padding: 0 20px;
            font-size: 12px;

}
        .li{
            width: 120px;
            height: 110px;
}
        .p9{
            font-size: 16px;
        }
        .p10{
            font-size: 16px;
        }
        .p11{
            font-size: 16px;
        }
}
@media only screen and (max-width: 400px) {
    .li{
            width: 150px;
            height: 110px;
    }
    .p9{
            font-size: 16px;
        }
        .p10{
            font-size: 16px;
        }
        .p11{
            font-size: 16px;
        }
}

