.search-box{
    /* position: relative; */
    padding:15px 460px;
    margin-top: 4.5%;
    float: right;
    background-color: white;
    width: 100%;
}
#check{
    display: none;
}
.form1{
    /* position: relative; */
    width: 200%;
}
select{
    padding: 10px;
    border: none;
    border-bottom: 1px solid #668cac;
    outline: none;
    color:#587185;
}
input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid #668cac;
    color:#587185 ;
    outline: none;
    width: 10%;
    text-align: center;
}
button{
    padding: 10px 20px;
    background: none;
    color:#587185 ;
    border: 1px solid #668cac;
    border-radius: 5px;
}
button:hover{
    color:#fff ;
    outline: none;
    background-color: #587185;
}
.studs{
    background-color: white;
    position: absolute;
    overflow-x: hidden;
    margin-top: 9.6%;
    height: 79%;
    left: 25%;
    overflow-y: scroll;
    width: 75%;
}
.studs::after{
    top:3px;
    left: 3px;
    right: 3px;
    bottom: -320px;
    position: absolute;
}



