{% extends 'base.html' %}

{% load static %}


{% block title %}Test qo`shish{% endblock %}

{% block content %}

<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


		<!-- CSS uchin lik -->
        <link rel="stylesheet" href="{% static 'css\admin\edit-test.css' %}">
        <link rel="stylesheet" href="{% static 'css\admin\add-test.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/css/bootstrap.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/media.css' %}">
		<link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">

    <body style="background: #eeeeee;">

			<!-- <ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger"> -->

<nav>
      <div class="logo">
Radiosoz</div>

<a href="{% url 'admin_my_tests:choice' user_id %}">TESTLAR</a>

</nav>
<div class="containerw next">

<form  action="{% url 'my_tests:add_test' user_id test_id %}" method="POST">

    {% csrf_token %}
    <label for="QUESTION">Savolni kiriting</label>
    <textarea style="outline: none;" id="QUESTION" class="input-group" name="question"  rows="5" ></textarea>
    <label for="A">A - Variant</label>
    <input style="outline: none;" id="A" class="input-group" autocomplete="off" type="text" name ='A'>
    <label for="B">B - Variant</label>
    <input style="outline: none;" id="B" class="input-group" autocomplete="off" type="text" name ='B'>
    <label for="C">C - Variant</label>
    <input style="outline: none;" id="C" class="input-group" autocomplete="off" type="text" name ='C'>
    <label for="D">D - Variant</label>
    <input style="outline: none;" id="D" class="input-group" autocomplete="off" type="text" name ='D'>
    <label for="select">To`g`ri javobni tanlang</label><br>
    <select style="outline: none; color: #727272;" id="select" class="w-25" name="answer" >
        <option value="A">A - Variant</option>
        <option value="B">B - Variant</option>
        <option value="C">C - Variant</option>
        <option value="D">D - Variant</option>
    </select><br>
    <button type="submit" class="btn mt-3 btn-primary">Saqlash</button>
</form>
</div>
{% endblock %}