{% extends 'base.html' %}

{% load static %}

{% block title %}Registration{% endblock %}

{% block content %}



<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <!-- CSS uchin lik -->
        <link rel="stylesheet" href="{% static 'css/containerw.css' %}">
        <link rel="stylesheet" href="{% static 'css/choice.css' %}">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/css/bootstrap.css' %}"/>

        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">

    </head>
    <body style="background: #fff;">

<nav>
      <div class="logo">
Radiosoz</div>
<input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
<li><a href="{% url 'admin_my_tests:home' user_id %}">Home</a></li>
<li><a href="{% url 'admin_my_tests:search' user_id %}">O`QUVCHILAR</a></li>
<li><a href="{% url 'admin_my_tests:choice' user_id %}">TESTLAR</a></li>
<li><a href="{% url 'admin_my_tests:register' user_id %}" class='active'>O`QUVCHI QO`SHISH</a></li>
</ul>
</nav>

        <div class="">
            <div class="form w-75" style="">
                <form action="{% url 'admin_my_tests:register' user_id %}" method="POST">
                    <div class="inputs">
                        <div class="form_head">
                            <h2>O`quvchi qo`shish</h2>
                        </div>
                        <div class="form_body">
                            {% csrf_token %}

                            <label class="label1" for="user_name">Ism va Familyani kiriting</label>
                            <input class="input" style="width: 45%; display:inline-block;" type="text" name="first_name" autocomplete="off" name="user_name" placeholder="Ism">
                            <input class="input" style="width: 45%; display:inline-block;" type="text" name="last_name"  autocomplete="off" placeholder="Familya">
                        </div>
                        <div class="form_body2">

                            <label class="label1" for="grade">Sinfni kiriting</label>
                        <select name="grade" id="" class="select1">
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                        </select>
                        <select name="grade2" id="" class="select2">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="V">V</option>
                            <option value="G">G</option>
                            <option value="D">D</option>
                        </select>
                        <label class="label1" for="viloyat">Viloyatni kiriting</label>
                        <select name="viloyat" id="" class="select3">
                            <option value="jizzax shaxar">jizzax shaxar</option>
                            <option value="Arnasoy">Arnasoy tumani</option>
                            <option value="Baxmal">Baxmal tumani</option>
                            <option value="Do'stlik">Do'stlik tumani</option>
                            <option value="Sharof Rashidov">Sharof Rashidov tumani</option>
                            <option value="Zarbdor">Zarbdor tumani</option>
                            <option value="Zafarobod">Zafarobod tumani</option>
                            <option value="Zomin">Zomin tumani</option>
                            <option value="Mirzacho'l">Mirzacho'l tumani</option>
                            <option value="Paxtakor">Paxtakor tumani</option>
                            <option value="Yangiobod">Yangiobod tumani</option>
                            <option value="Forish">Forish tumani</option>
                            <option value="G'allaorol">G'allaorol tumani</option>
                        </select>
                        </div>
                        <div class="form_footer mt-4">

                            <input class="input" style="width: 45%; display:inline-block;" type="text" placeholder="Maktab" name="school" autocomplete="off">

                            <input class="input" style="width: 45%; display:inline-block;" type="text" name="username" placeholder="Username" autocomplete="off">
                            {% if error == 'inusername' %}
                                <p style="color: red;">bu username avval qo`llangan</p>
                            {% endif %}
                            <label class="label1" for="password">Parolni kiriting</label>
                            <input class="input" type="text" name="password" value="{{ recpas }}"  autocomplete="off" placeholder="Parol">
                            <input class="input" type="text" name="validator" value="{{ recpas }}" autocomplete="off"  placeholder="Parolni qayta kiriting">
                            {% if error == 'inpass' %}
                                <p style="color: red;">parollar bir xil emas</p>
                            {% endif %}
                        </div>
                        <div>
                            <button type="submit" class="btn mt-3 btn-primary" >Saqlash</button>
                            <button class="btn mt-3 ml-2 btn-outline-secondary" style="font-size: 14px;" type="reset">Bekor qil</button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </body>



{% endblock %}