* {
    padding: 0;
    margin: 0;   
}
body{
    background-color: rgb(71, 134, 113);
}

header{
    text-align: center;
}
.card{
    padding: 40px;
    margin-left: 18%;
    margin-right: 18%;
    
}
#variantlar{
text-align: right;
}


img{
    width: 60px;
    height: 60px;
    margin-left:20px;
}


p{

margin-right: 10px;
margin-left: -40px;
margin-top: 15px;
}
#l{
    margin-left: -20px;
}
#time{
    border: solid 1px;
    border-radius: 30%;
    background-color: yellow;
    color: red;
    border-right:100px ;
}
.varinatlar{
    margin-right: 100px;
}
@media screen and (min-width:px){
    body{
    background-color:red;
}}