* {
    padding: 0;
    margin: 0;   
}
body{
    background-color:#22a185;
}

header{
    text-align: center;
}
.card{
    padding: 40px;
    margin-left: 18%;
    margin-right: 18%;
    background-color: #fbfdf2;
    
}
#variantlar{
text-align: right;
}


img{
    width: 60px;
    height: 60px;
    margin-left:20px;
}


p{

margin-right: 10px;
margin-left: -40px;
margin-top: 15px;
}
#l{
    margin-left: -20px;
}
#time{
    border: solid 1px;
    border-radius: 30%;
    background-color: yellow;
    color: red;
    border-right:100px ;
}
.varinatlar{
    margin-right: 100px;
  
}
#v1:hover ,#v2:hover,#v3:hover,#v4:hover{
 background-color:#a4cf4c ;
}
#v1,#v2,#v3,#v4 {
    margin-bottom: 7px;
    border-radius}