.containerw{
    position: absolute;
    width: 74.5%;
    height: 90%;
    top: 9.17%;
    left: 25.3%;
    translate: (-50%,-50%);
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #ffffff;
    padding: 30px;
    margin: 0;
    scroll-snap-type: unset;
}
.containerw::after{
    top:3px;
    left: 3px;
    right: 3px;
    bottom: -320px;
    position: absolute;
    
}
.test{
    padding: 20px 30px;
    list-style: none;
    background-color: white;
    border-bottom: 1px solid #5898b1;
}

a{
    color: black;
    text-decoration: none;
}