{% extends 'base.html' %}

{% load static %}


{% block title %}Test qo`shish{% endblock %}

{% block content %}

<!-- CSS uchin lik -->
<link rel="stylesheet" href="{% static '' %}">

        <div class="top">  
                <a href="{% url 'my_tests:admin' user_id %}">home</a>
                <a href="{% url 'my_tests:choice' user_id %}">test qo`shish</a>
        </div>


<form action="{% url 'my_tests:add_test' user_id test_id %}" method="POST">

    {% csrf_token %}

    <textarea name="question" cols="30" rows="10" placeholder="savolni kiriting"></textarea>
    <br>
    <input type="text" name ='A'><br>
    <input type="text" name ='B'><br>
    <input type="text" name ='C'><br>
    <input type="text" name ='D'><br>
    <select name="answer" >
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
    </select>
    <button type="submit">saqlash</button>
</form>

{% endblock %}