{% extends 'base.html' %}

{% load static %}


{% block title %}Test qo`shish{% endblock %}

{% block content %}

<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <!-- CSS uchin lik -->
        <link rel="stylesheet" href="{% static 'css\add-test.css' %}">
		<link rel="stylesheet" href="{% static 'css/media.css' %}">
		<link rel="stylesheet" href="{% static 'css/btn.css' %}">

    <body>
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" />
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<div class="wrapper">
    <div class="sidebar">
        <img width='180px' src="{% static 'img/logooq.png' %}">
        <ul>
            <li><a href="{% url 'my_tests:admin' user_id %}"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="{% url 'my_tests:search' user_id %}"><i class="fa fa-user"></i>O`quvchilar</a></li>
            <li><a href="{% url 'my_tests:register' user_id %}"><i class="fa fa-user-plus"></i>O`quvchi qo`shish</a></li>
            <li><a href="{% url 'my_tests:choice' user_id %}"><i class="fa fa-sticky-note"></i>Testlar</a></li>
            <li><a href="{% url 'my_tests:user_logout' user_id %}"><i class="fa fa-sign-out"></i>Logout</a></li>
            <li><a href="#"><i class="fa fa-phone"></i>Contact Us</a></li>
        </ul>

    </div>
    <div class="main_content">
        <div class="header">Admin Panelga Xush Kelibsiz</div>
        <div class="info">



<div style="position:absolute; left:50%; transform:translateX(-15%); width:50%;">

<form  action="{% url 'my_tests:add_test' user_id test_id %}" method="POST">

    {% csrf_token %}
    <label for="QUESTION">Savolni kiriting</label><br>
    <textarea style="outline: none; width:50%; padding:5px;" id="QUESTION" name="question"  rows="5" ></textarea><br>
    <label for="A">A - Variant</label><br>
    <input style="outline: none; width:50%; padding:5px;" id="A" autocomplete="off" type="text" name ='A'><br>
    <label for="B">B - Variant</label><br>
    <input style="outline: none; width:50%; padding:5px;" id="B" autocomplete="off" type="text" name ='B'><br>
    <label for="C">C - Variant</label><br>
    <input style="outline: none; width:50%; padding:5px;" id="C" autocomplete="off" type="text" name ='C'><br>
    <label for="D">D - Variant</label><br>
    <input style="outline: none; width:50%; padding:5px;" id="D" autocomplete="off" type="text" name ='D'><br>
    <label for="select">To`g`ri javobni tanlang</label><br>
    <select style="outline: none; color: #727272; padding:5px;" id="select" name="answer" >
        <option value="A">A - Variant</option>
        <option value="B">B - Variant</option>
        <option value="C">C - Variant</option>
        <option value="D">D - Variant</option>
    </select><br><br>
    <button type="submit" class="btn btn-primary">Saqlash</button>
</form>
</div>
     </div>
    </div>
</div>
{% endblock %}