{% extends 'base.html' %}
{% load static %}

{% block title %}JVXTV test sistemasi{% endblock %}

{% block content %}
<!-- CSS uchin lik -->
<link rel="stylesheet" href="{% static '' %}">

<a href="{% url 'my_tests:user_logout' user_id %}">logout</a>
<a href="{% url 'my_tests:register' user_id %}">o`quvchi qo`shish</a>
<a href="{% url 'my_tests:choice' user_id %}">test qo`shish</a>
<a href="{% url 'my_tests:add_admin' user_id %}">admin qo`shish</a>

<br>
<br>

<h1>testlar<br>{{all_t}}</h1>
<a href="{% url 'my_tests:search' user_id %}"><h1>o`quvchilar<br>{{all_s}}</h1></a>
<a href="{% url 'my_tests:edit_admin' user_id %}"><h1>adminlar<br>{{all_a}}</h1></a>


{% endblock %}