{% extends 'base.html' %}

{% load static %}

{% block title %}EDIT{% endblock %}

{% block content %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <!-- CSS uchin lik -->
        <link rel="stylesheet" href="{% static 'css/table.css' %}">
		<link rel="stylesheet" href="{% static 'css/media.css' %}">
		<link rel="stylesheet" href="{% static 'css/btn.css' %}">

<body>
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" />
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<div class="wrapper">
    <div class="sidebar">
        <img width='180px' src="{% static 'img/logooq.png' %}">
        <ul>
            <li><a href="{% url 'my_tests:admin' user_id %}"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="{% url 'my_tests:search' user_id %}"><i class="fa fa-user"></i>O`quvchilar</a></li>
            <li><a href="{% url 'my_tests:register' user_id %}"><i class="fa fa-user-plus"></i>O`quvchi qo`shish</a></li>
            <li><a href="{% url 'my_tests:choice' user_id %}"><i class="fa fa-sticky-note"></i>Testlar</a></li>
            <li><a href="{% url 'my_tests:user_logout' user_id %}"><i class="fa fa-sign-out"></i>Logout</a></li>
            <li><a href="#"><i class="fa fa-phone"></i>Contact Us</a></li>
        </ul>

    </div>
    <div class="main_content">
        <div class="header">Admin Panelga Xush Kelibsiz</div>
        <div class="info">


    <div class="">
        {% if test %}
        <table class="table table-hover table-bordered">
            <tr>
            <thead>
                <th class="pl-3">Savol</th>
                <th></th>
            </thead>
            {% for i in test %}
            <tbody >

                    <th class="p-3"><a href="{% url 'my_tests:edit_test_temp' user_id i.id %}" style="color:black!important; float: left;" class="float-righttext-decoration-none text-secondary">{{i.question}}</th></a>
                    <th>
						<a href="{% url 'my_tests:delete_test' user_id test_id i.id %}"
						class="m-1 float-right btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
						</th>
            </tbody>
            {% endfor %}
        </tr>
		</table>
		{% else %}

        <div style="margin-top:20% ; margin-left: 50%;" class="text-center h1">OOPS</div>
        {% endif %}
    </div>

      </div>
    </div>
</div>
</body>



{% endblock %}