{% extends 'base.html' %}

{% load static %}

{% block title %}EDIT{% endblock %}

{% block content %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <!-- CSS uchin lik -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/admin/edit-stud.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/containerw.css' %}">
        <link rel="shortcut icon" href="{% static '../favicon.ico'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/btn.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}" />
        <script src="{% static 'js/modernizr.custom.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">

    <body style="">

			<!-- <ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger"> -->
<div class="wrapper">
    <div class="sidebar">

        <ul>
            <li><a href="{% url 'my_tests:admin' user_id %}"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="{% url 'my_tests:search' user_id %}"><i class="fa fa-user"></i>O`quvchilar</a></li>
            <li><a href="{% url 'my_tests:register' user_id %}"><i class="fa fa-user-plus"></i>O`quvchi qo`shish</a></li>
            <li><a href="{% url 'my_tests:choice' user_id %}"><i class="fa fa-sticky-note"></i>Testlar</a></li>
            <li><a href="{% url 'my_tests:user_logout' user_id %}"><i class="fa fa-sign-out"></i>Logout</a></li>
            <li><a href="#"><i class="fa fa-phone"></i>Contact Us</a></li>
        </ul>
        </div>
    </div>

        <div class="m-5">
            <div class="form">
                <form action="{% url 'my_tests:save' user_id  stud_id %}" method="POST">
                    <div class="inputs">
                        <div class="form_head">
                            <h2>O`quvchi Tahrirlash</h2>
                        </div>
                        <div class="form_body">
                            {% csrf_token %}
                            {% if error == 'all' %}
                                <p style="color: red;">iltimos so`rovnomalarni to`ldiring</p>
                            {% endif %}
                            <label class="label1" for="user_name">Ism Familyani kiriting</label>
                            <input value="{{ first_name }}" class="input" type="text" name="first_name" autocomplete="off" name="user_name" placeholder="First name">
                            <input value="{{ last_name }}" class="input" type="text" name="last_name"  autocomplete="off" placeholder="Last name">
                        </div>
                        <div class="form_body2">

                        <label class="label1" for="grade">Sinfni kiriting</label>
                        <select name="grade" id="" class="select1 order-1">
                            <option value="{{ grade }}">{{ grade }}</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                        </select>
                        <select name="grade2" id="" class="select2">
                            <option value="{{ grade2 }}">{{ grade2 }}</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="V">V</option>
                            <option value="G">G</option>
                            <option value="D">D</option>
                        </select>
                        <label class="label1" for="viloyat">Viloyatni kiriting</label>
                        <select name="viloyat" id="" class="select3">
                            <option value="{{viloyat}}">{{viloyat}}</option>
                            <option value="jizzax shaxar">jizzax shaxar</option>
                            <option value="Arnasoy">Arnasoy tumani</option>
                            <option value="Baxmal">Baxmal tumani</option>
                            <option value="Do'stlik">Do'stlik tumani</option>
                            <option value="Sharof Rashidov">Sharof Rashidov tumani</option>
                            <option value="Zarbdor">Zarbdor tumani</option>
                            <option value="Zafarobod">Zafarobod tumani</option>
                            <option value="Zomin">Zomin tumani</option>
                            <option value="Mirzacho'l">Mirzacho'l tumani</option>
                            <option value="Paxtakor">Paxtakor tumani</option>
                            <option value="Yangiobod">Yangiobod tumani</option>
                            <option value="Forish">Forish tumani</option>
                            <option value="G'allaorol">G'allaorol tumani</option>
                        </select>
                        </div>
                        <div class="form_footer">
                            <label class="label" for="school">Maktab raqamini kiriting</label>
                            <input class="input" value="{{ school }}" type="text" placeholder="School" name="school" autocomplete="off">
                            <label class="label" for="username">Usernameni kiriting</label>
                            <input class="input" value="{{ username }}" type="text" name="username" placeholder="Username">
                            {% if error == 'inusername' %}
                                <p style="color: red;">bu username avval qo`llangan</p>
                            {% endif %}
                            <label class="label1" for="password">Parolni kiriting</label>
                            <input class="input" value="{{ password }}" type="text" name="password" value="{{ password }}"  autocomplete="off" placeholder="Enter your password">
                            <input class="input" type="text" name="validator" value="{{ password }}" autocomplete="off"  placeholder="re-enter the password">
                            {% if error == 'inpass' %}
                                <p style="color: red;">parollar bir xil emas</p>
                            {% endif %}
                        </div>
                        <div>
                        <button type="submit" class="btn mt-2 btn-primary" >Saqlash</button>
                        <button class="btn mt-2 ml-2 btn-outline-secondary" style="font-size: 14px;" type="reset">Bekor qilish</button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </body>



{% endblock %}