{% extends 'base.html' %}

{% load static %}



{% block content %}

<!-- CSS uchin lik -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{%  static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'css/media.css' %}">
    <title>{% block title %}Tizimga kirish{% endblock %}</title>
</head>
<body>

<div class="login-box">
        <h2>Kirish</h2>
        <form action="{% url 'my_tests:user_login' %}" method="POST">
            {% csrf_token %}
            <div class="user-box">
                <input type="text" name="username" required="">
                <label>Username</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" required="">
                <label>Parol</label>
            </div>
            {% for message in messages %}
            <p style='color:red;'>{{message}}</p>
        {% endfor %}

            <button type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Kirish
            </button>
        </form>
        <p style='top: 90%;'>Hisob ochmaganmisiz? <a href={% url 'my_tests:main_register' %}>hisob ochish</a></p>
    </div>



</body>
</html>




{% endblock %}