{% extends 'base.html' %}

{% load static %}



{% block content %}

<!-- CSS uchin lik -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{%  static 'css\\style.css' %}">
    <link rel="stylesheet" href="{%  static 'css\\media.css' %}">
    <title>{% block title %}Tizimga kirish{% endblock %}</title>
</head>
<body>

<section  class="m-text-sm login-page">
    <form action="{% url 'my_tests:user_login' %}" method="POST">
        {% csrf_token %}
         <div class="box">
                <div class="form-head">
                      <h2>Ro'yxatdan O'tish</h2>
                </div>
                <div  class="form-body">
                    
                    <input class="m-text-sm" name="username" type="text" placeholder="Username" autocomplete="off" required=true><br>
                    <input class="m-text-sm" name="password" type="password" placeholder="Password" required=true><br>
                </div>
                <div class="form-footer">
                      <button type="submit">Sign In</button>
                </div>
         </div>
    </form>
</section>
<form >

</form>
</body>
</html>




{% endblock %}