{% extends 'base.html' %}

{% load static %}

{% block title  %}Nazorat-ishi.uz - Ro'yhatdan o'tish{% endblock %}

{% block content %}

<!-- CSS uchin lik -->
<!DOCTYPE html>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{%  static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'css/media.css' %}">
        <link rel="stylesheet" type="text/css" href="{%  static 'css/btn.css' %}">
<body style="padding: 0;">
    
<a href='/' class="btn btn-success m-2">Bosh sahifa</a>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form action='{% url "my_tests:main_register" %}' method="POST" id="signup-form" class="signup-form">
                        {% csrf_token %}
                        <h2 class="form-title">Hisob ochish</h2>
                        <div class="form-group">
                            {{form.first_name}}

                            {{form.last_name}}
                        </div>

                        <input type="checkbox" id="student" value='True' onclick="myFunction()" name="is_student">
                        <label for="student">Maktabni tugallaganman</label>


                        <div class="form-group">
                            {{form.grade}}
                            {{form.grade2}}

                        </div>


                        <div class="form-group">
                            {{form.viloyat}}

                        </div>

                        <div class="form-group">
                            {{form.school}}

                        </div>
                        <div class="form-group">
                            {{form.username}}

                        </div>


                        <div class="form-group">
                            {{form.password1}}
                        </div>
                        <div class="form-group">
                            {{form.password2}}
                        </div>

                        <div class="form-group">
                            <button type='submit' class="form-submit" >Hisob ochish</button>



                        </div>
                    </form>

                    {{ form.errors }}

                    <p class="loginhere">
                        Avval hisob ochganmisiz? <a href="../accounts/login/" class="loginhere-link"> Kirish <p id='demo'></p></a>
                    </p>
                </div>
            </div>


    </div>

<script>

    document.getElementById("requirment").required = false;
    document.getElementById("requirment2").required = false;
    document.getElementById("requirment3").required = false;

function myFunction(){

    var x = document.getElementById('student').checked;


    if (x == true){

    document.getElementById('requirment').value = 0;
    }



}


</script>


{% endblock %}

</body>