{% extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
<a href="{% url 'my_tests:admin' user_id %}">home</a>
<a href="{% url 'my_tests:register' user_id %}">o`quvchi qo`shish</a>
<a href="{% url 'my_tests:choice' user_id %}">test qo`shish</a>


<form action="{% url 'my_tests:register' user_id %}" method="POST">


    {% csrf_token %}
    {% if error == 'all' %}
        <p style="color: red;">iltimos so`rovnomalarni to`ldiring</p>
    {% endif %}
    <input name="first_name" type="text" placeholder="first name" autocomplete="off"><br>
    <input name="last_name" type="text" placeholder="last name" autocomplete="off"><br>
    <select name="grade" >
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
    </select>
    <select name="grade" >
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="D">D</option>
    </select>
    
    <select name="viloyat">
        <option value="jizzax shaxar">jizzax shaxar</option>
        <option value="Arnasoy">Arnasoy</option>
        <option value="Baxmal">Baxmal </option>
        <option value="Do'stlik">Do'stlik </option>
        <option value="Sharof Rashidov">Sharof Rashidov</option>
        <option value="Zarbdor">Zarbdor</option>
        <option value="Zafarobod">Zafarobod</option>
        <option value="Zomin">Zomin</option>
        <option value="Mirzacho'l">Mirzacho'l</option>
        <option value="Paxtakor">Paxtakor</option>
        <option value="Yangiobod">Yangiobod</option>
        <option value="Forish">Forish</option>
        <option value="G'allaorol">G'allaorol</option>
    </select><br>
    <input type="text" name="school" placeholder="school" autocomplete="off"><br>
    <input name="username" type="text" placeholder="username" autocomplete="off"><br>
    {% if error == 'inusername' %}
        <p style="color: red;">bu username avval qo`llangan</p>
    {% endif %}
    <input name="password" type="text" value="{{recpas}}" placeholder="password"><br>
    <input name="validator" type="text" value="{{recpas}}" placeholder="password"><br>
    {% if error == 'inpass' %}
        <p style="color: red;">parollar bir xil emas</p>
    {% endif %}

    <button type="submit" >ro`yhatdan o`tish</button>

</form>




{% endblock %}