{% extends 'base.html' %}
{% load static %}


{% block title %}JVXTV test sistemasi{% endblock %}

{% block content %}
<!-- CSS uchin lik -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{% static 'css\choice.css' %}">
<link rel="stylesheet" href="{% static 'css\media.css' %}">
<link rel="stylesheet" href="{% static 'css\css\bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">

<div class="menu">
    <a class="m-2 btn btn-secondary" href="{% url 'my_tests:user_profile' student_id %}">PROFIL</a>
</div>

<div >
    <header>9-SINF</header>
    <hr>
    {% if verificate9 %}
        <ul>
        {% for i in verificate9 %}
        <a href="{% url 'my_tests:test' student_id i.id %}"><li class="li"><p class="p9">{{ i.fanlar }}</p></li></a>
        {% endfor %}
        </ul>
    {% endif %}
    <br>
    <hr>
    <header>10-SINF</header>
    <hr>

    {% if verificate10 %}
        <ul>
        {% for i in verificate10 %}
        <a href="{% url 'my_tests:test' student_id i.id %}"><li class="li"><p class="p10">{{ i.fanlar }}</p></li></a>
        {% endfor %}
        </ul>
    {% endif %}

    <br>
    <hr>
    <header>11-SINF</header>
    <hr>
    {% if verificate11 %}
        <ul>
        {% for i in verificate11 %}
        <a href="{% url 'my_tests:test' student_id i.id %}"><li class="li"><p class="p11">{{ i.fanlar }}</p></li></a>
        {% endfor %}
        </ul>
    {% endif %}
</div>



{% endblock %}