{% extends 'base.html' %}
{% load static %}

{% block title %}JVXTV test sistemasi{% endblock %}

{% block content %}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="menu">
        <a class="btn btn-sml btn-secondary" href="{% url 'my_tests:student_choice' stud_id %}">TEST ISHLASH</a>
        <a class="btn btn-sml btn-secondary float-right" href="{% url 'my_tests:user_logout' student.id %}">Sign Out</a>
    </div>
    <div class="container">

        <div class="user-info m-text-sm">
            <img width="200px" src="{% static 'img/user.jpg' %}">
            <p class="">Ism: {{student.first_name}}</p>
            <p class="">Familya: {{student.last_name}}</p>
            <p class="">Username: {{student.username}}</p>
            <p class="">Password: {{student.password}}</p>
            <p class="">Maktab raqami: {{student.school}}</p>
            <p class="">Viloyat: {{student.viloyat}}</p>
            <p class="">Sinf: {{student.grade}}-{{student.grade2}}</p>

        </div>


    </div>



</body>
</html>









{% endblock %}